<nav class="navbar navbar-expand-lg bg-light removemarge" data-bs-theme="light">
			<a class="navbar-brand" href="{{ path ('homepage') }}">
				<img src="/image/logo.png" alt="Airbnb_Logo">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			<div class="collapse navbar-collapse navbar-light" id="navbarColor03">
				<ul class="navbar-nav menubarre nav-tabs me-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('homepage') }}">
							<i class="fas fa-home"></i>
							ACCUEIL
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('ads_index') }}">
							<i class="fas fa-search-location"></i>
							ANNONCES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path ('blog') }}">
							<i class="fas fa-blog"></i>
							BLOG</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-envelope"></i>
							CONTACT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-info-circle"></i>
							A PROPOS</a>
					</li>
				</ul>
				{% if app.user %}
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="accountDropdownLink">
								<img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="Avatar de {{ app.user.fullName }}">{{ app.user.fullName }}
							</a>
							<div class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdownLink">
								<a href="{{ path('ads_create') }}" class="dropdown-item">Creer une annonce</a>
								<a href="{{ path('account_bookings') }}" class="dropdown-item">Mes réservation</a>
								<div class="dropdown-divider"></div>
								<a href="{{ path('account_index') }}" class="dropdown-item">Mon Compte</a>
								<a href="{{ path('account_profil') }}" class="dropdown-item">Modifier mon profil</a>
								<div class="dropdown-divider"></div>
								<a href="{{ path('account_logout') }}" class="dropdown-item">Deconnexion</a>
							</div>
						</li>
					</ul>
				{% else %}
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown">
							<a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="accountDropdownLink">
								<i class="fas fa-users"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdownLink">
								<a href="{{ path('account_register') }}" class="dropdown-item">
									<i class="fas fa-user-plus"></i>
									S'inscrire</a>
								<div class="dropdown-divider"></div>
								<a href="{{ path('account_login') }}" class="dropdown-item">
									<i class="fas fa-arrow-circle-right"></i>
									Se connecter</a>
							</div>
						</li>
					</ul>
				{% endif %}
			</ul>
			</div>
</nav>


{% for label, messages in app.flashes %}
	<div class="container">
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>{{ message }} </p>
			{% endfor %}
		</div>
	</div>
{% endfor %}









