{% extends 'base.html.twig' %}

{% block title %}Page de réservation
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Réservation pour l'annonce
			{{ ad.title }}
		</h1>
		{{ form_start(form) }}
		<div class="alert alert-light">
			<div class="row">
				<div class="col-4">
					{{ form_row(form.startDate) }}
				</div>
                <div class="col-4">
                
                </div>
				<div class="col-4">
					{{ form_row(form.endDate) }}
				</div>
			</div>
			<h4>Montant du séjour :
				<span id="amount">
					...
				</span>
				&euro;</h4>
			<span id="days">0</span> nuit(s) a {{ ad.price }} / nuit
            <h2>Vous avez un commentaire</h2>
            {{ form_row(form.comment) }}

			<button type="submit" class="btn btn-primary mt-3">Confirmer la réservation</button>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}

	<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>

	<script>
		$(document).ready(function(){
			$('#booking_startDate, #booking_endDate').datepicker({
				format: 'dd/mm/yyyy',
				datesDisabled: [
					{% for day in ad.notAvailableDays %}
						"{{ day.format('d/m/Y') }}",
					{% endfor %}
				],
				startDate: new Date()
			});

			$('#booking_startDate, #booking_endDate').on('change', calculateAmout);
		})

		function calculateAmout()
		{
			// On chope les dates
			const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
			const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
			if (startDate && endDate && startDate < endDate) {
				const DAY_TIME = 24 * 60 * 60 * 1000;
				const interval = endDate.getTime() - startDate.getTime();
				const days = interval / DAY_TIME;
				const amount = days * {{ ad.price }};
				$('#days').text(days);
				$('#amount').text(amount.toLocaleString('fr-FR'));
			}
		}
	</script>
{% endblock %}
